#bars {
	cursor: pointer;
	transform: scale(1);
	transition: transform 400ms;
}
#bars:hover {
	transform: scale(1.15);
}
.masthead h1 {
	color: #e9ecef;
}
.masthead h3 {
	color: #dee2e6;
}