.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@keyframes bars {
	0% {width: 0px;}
	50% {width: 100%;}
}

.bar-animation {
	cursor: pointer;
	transform: scale(1);
	transition: transform 400ms;
	animation-name: bars;
	animation-duration: 3s;
	animation-direction: normal;
	animation-timing-function: ease-in-out;	
}

/* #bars:hover {
	transform: scale(1.15);
} */

.masthead h1 {
	color: #e9ecef;
}

.masthead h3 {
	color: #dee2e6;
}

#contact h2 {
	text-align: center;
	
}

#contact hr {
	margin: 0 auto;
}

#contact a {
	color: white;
	text-decoration: none;
}

#contact a:hover {
	color: blue;
	text-decoration: none;
}

#contact a:active {
	color: red;
	text-decoration: none;
}

button {
	transform: scale(1);
	/*transition: transform 500ms;*/
}

button:hover{
	transform: scale(1.15);
	transition: transform 500ms;
}

/* DEMO-SPECIFIC STYLES */
header h3 {
 /* color: #fff;
  font-family: monospace; */
 
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 4.0s steps(35, end) infinite,
    blink-caret .4s step-end infinite;
     text-align: center; 
}
 
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 230px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

header a {
	margin-top: 55px;
}

.center-body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    height: 100vh; */
    /****** center box
    width: 300px;
    height: 300px;
    border: solid 1px #aaa;
    ******/
}

body {
    background-color: #202628;
}

/* SkillSet Loading Effect */
.loader-circle-11 {
    position: relative;
    width: 70px;
    height: 70px;
    transform-style: preserve-3d;
    perspective: 400px;
}

.loader-circle-11 .arc {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-bottom: 5px solid #f00;
}
.loader-circle-11 .arc:nth-child(1) {
    animation: rotate1 1.15s linear infinite;
}
.loader-circle-11 .arc:nth-child(2) {
    animation: rotate2 1.15s linear infinite;
}
.loader-circle-11 .arc:nth-child(3) {
    animation: rotate3 1.15s linear infinite;
}
.loading .arc:nth-child(1) {
    animation-delay: -0.8s;
}
.loader-circle-11 .arc:nth-child(2) {
    animation-delay: -0.4s;
}
.loader-circle-11 .arc:nth-child(3) {
    animation-delay: 0s;
}
@keyframes rotate1 {
    from {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
    }
    to {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
    }
}
@keyframes rotate2 {
    from {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
    }
    to {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
    }
}
@keyframes rotate3 {
    from {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
    }
    to {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
    }
}
/* SkillSet Loading Effect/> */

.blurry-effect {
    filter:blur(3px);
}

.center-body2 {
	display: flex;
	justify-content: center;
    position: absolute;
	align-items: center;
	width: 100%;
	height: 85vh;
    z-index: 10;
	/****** center box
	width: 300px;
	height: 300px;
	border: solid 1px #aaa;
	******/
}
.loader-ball-31 {
	overflow: hidden;
	position: absolute;
	display: inline-block;
	width: 25px;
	height: 25px;
	background: transparent;
	border-radius: 100%;
	box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
	animation: anm-BL_31-move 5s infinite ease-in-out;
	transform-origin: 50% 50%;
}
@keyframes anm-BL_31-move {
	0% {
		box-shadow: white 0 0 15px 0, #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
	}
	8.33% {
		box-shadow: white 0 0 15px 0, #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
	}
	16.67% {
		box-shadow: white 0 0 15px 0, #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
	}
	25% {
		box-shadow: white 0 0 15px 0, #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
	}
	33.33% {
		box-shadow: white 0 0 15px 0, #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
	}
	41.67% {
		box-shadow: white 0 0 15px 0, #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
	}
	50% {
		box-shadow: white 0 0 15px 0, #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
	}
	58.33% {
		box-shadow: white 0 0 15px 0, #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
	}
	66.67% {
		box-shadow: white 0 0 15px 0, #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
	}
	75% {
		box-shadow: white 0 0 15px 0, #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
	}
	83.33% {
		box-shadow: white 0 0 15px 0, #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
	}
	91.67% {
		box-shadow: white 0 0 15px 0, #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
	}
}